Formulario.css 
 body 
 {background-color:#ABEBC6; font-family:Arial;} 
 h1 {color:"red"; font-size:40px;} 
 h2 {color:#778899 font-size:16px;} 
 h3 {color:#778899 font-size:16px;}
 p {color:black; font-size:20px; bigcolor=#DE4624;} 
 li {color:#000; font-size:20px;} 
